/* General Header Styling */
header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 16px -2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C8E6B8;
}

/* Header Content */
.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

/* Logo Section */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 8rem;
  height: auto;
}

/* Search Bar Styling */
/* Container for search bar */
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Style for search bar (input) */
.search-bar {
  padding: 0.5rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  width: 15rem;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border-color: #66CC66;
  outline: none;
}

/* Style for the search icon inside the search bar */
.search-icon {
  position: absolute;
  right: 1rem;
  color: #999;
  font-size: 1.125rem;
  cursor: pointer;
}

/* For mobile view */
@media (max-width: 48rem) {
  .search-bar {
    width: 100%;
    max-width: 18.75rem;
  }
}


/* Navigation Links Styling */
.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a, .nav-links {
  color: #333;
  font-size: 1rem;
}

.nav-links a, .nav-links .logout-button {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover, .nav-links .logout-button:hover {
  background-color: #f0f0f0;
}

.logout-button {
  background-color: transparent;
  cursor: pointer;
  color: red;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  .search-bar-container {
    margin-top: 0.625rem;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 0.625rem;
    width: 100%;
  }

  .search-bar {
    width: 100%;
    max-width: 18.75rem;
  }

  .nav-links a {
    margin: 0.625rem 0;
    font-size: 0.875rem;
  }
}
