.service-card {
  background: #FCFFFC;
  border: 1px solid #ddd;
  width: calc(33.333% - 20px);
  border-radius: 1rem;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.253);
  flex: 0 0 auto;
}

.service-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.829);
}

.service-card h3 {
  margin: 0 0 10px;
}

.service-card button {
  background-color: #2EA673;
  color: whitesmoke;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;

}

.service-card button:hover {
  background-color: #278a61;
}
