.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    font-family: 'Arial', sans-serif;
    padding: 1rem;
}

.signup-container {
    padding: 2.5rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    max-width: 250px;
}

.error-message {
    color: red;
    margin: 1px;
    font-size: 15px;
    font-weight: bold;
}

.signup-image img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.signup-title {
    font-size: 2rem;
    color: #2EA673;
    margin-bottom: 1.5rem;
}

.signup-input {
    width: 100%;
    padding: 12px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.signup-input:focus {
    border-color: #2EA673;
    outline: none;
}

.signup-button {
    width: 100%;
    background-color: #2EA673;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.signup-button:hover {
    background-color: #249f5c;
}

.signup-links {
    margin-top: 1.5rem;
}

.link-button {
    color: #2EA673;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.link-button:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .signup-page {
        padding: 0 1rem;
    }

    .signup-title {
        font-size: 1.8rem;
    }

    .signup-container {
        padding: 2rem;
    }

    .signup-input, .signup-button {
        padding: 0.8rem;
    }

    .signup-image {
        max-width: 200px;
    }

    .signup-image img {
        max-height: 120px;
    }
}

@media (max-width: 480px) {
    .signup-title {
        font-size: 1.5rem;
    }

    .signup-container {
        width: 95%;
    }

    .signup-input, .signup-button {
        padding: 0.6rem;
    }

    .signup-image {
        max-width: 150px;
    }

    .signup-image img {
        max-height: 100px;
    }
}
